/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
::before,
::after{
  box-sizing: border-box;
}
a{
  color: inherit;
  text-decoration: none;
}
img{
  max-width: 100%;
}
button{
  background-color: transparent;
  border: 0;
  font-size: inherit;
  cursor: pointer;
}
/* common */
:root{
  --primary-color: #245Ecf;
  --secondary-color: #ff5a5a;
  --text-color:#333;
  --white-color:#fff;
  --bg-color:#f5f5f5;
  --border-color:#D9D9D9;
}
html{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 62.5%;
  color: var(--text-color);
}
body{
  font-size: 1.6rem;
}
.btn{
  border-radius: 0.8rem;
  padding: 1.2rem;
  text-align: center;
  border: 1px solid var(--border-color);
}
.btn:hover,
.btn.active{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color:var(--white-color)

}
.container{
  background-color: var(--bg-color);
  min-height: 100vh;
  width: 100%;
  padding: 20rem 0;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.todo{
  width: 90%;
  margin: auto;
  max-width: 45rem;
  background-color: #fff;
  padding: 2.4rem;
  box-shadow: 0 15px 30px -7px #ccc;
  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  gap: 2.4rem;
}