/* list */
.todo-list{
  display: flex;
  flex-flow: column;
  gap: 0.8rem;
}
.todo-list__empty{
  text-align: center;
  color: var(--text-color);
  opacity: 0.6;
  font-size: 1.4rem;
  margin: 2rem 0;;
}

/* item */
.todo-item{
  position: relative;
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: 0.8rem;
  padding: 1.2rem;
  gap: 1rem;
  align-items: center;
}
.todo-item .check-box label{
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  display: block;
  cursor: pointer;
}
.todo-item.done label,
.todo-item .check-box input[type=checkbox]:checked + label{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  outline: 2px solid #fff;
  outline-offset: -4px;
}
.todo-item input[type=text],
.todo-item p{
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0;
  outline: 0;
  font-size: 1.6rem;
}
.todo-item.done{
  border-color: var(--primary-color);
  opacity: 0.6;
}
.todo-item.done input[type=text],
.todo-item.done p{
  text-decoration: line-through;
}
