.todo-form{
  width: 100%;
  height: 4.5rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  font-size: 1.4rem;
}
.todo-form input{
  border: 1px solid var(--border-color);
  border-radius: 0.8rem;
  height: 100%;
  flex: 1 1 0;
  height: 100%;
  padding: 1.2rem;
  font-size: inherit;
}
.todo-form input.error::placeholder{
  color: var(--secondary-color);
}
.todo-form button{
  min-width: 6rem;
  height: 100%;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--white-color);
}
.error-msg{
  margin-top: 0.8rem;
  color: var(--secondary-color);
  font-size: 1.2rem;
}