.todo-info{
  font-size: 1.4rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.todo-info > button{
  /* color: var(--secondary-color); */
  opacity: 0.5;
}
.todo-info > button:hover{
  opacity: 1;
}
.todo-tab{
  display: flex;
  gap: 1.2rem;
}